<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0001</key>
			<dict>
				<key>frame</key>
				<string>{{61,0},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0002</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0003</key>
			<dict>
				<key>frame</key>
				<string>{{183,0},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0005</key>
			<dict>
				<key>frame</key>
				<string>{{61,61},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0006</key>
			<dict>
				<key>frame</key>
				<string>{{122,61},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0007</key>
			<dict>
				<key>frame</key>
				<string>{{183,61},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,122},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0009</key>
			<dict>
				<key>frame</key>
				<string>{{61,122},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0010</key>
			<dict>
				<key>frame</key>
				<string>{{122,122},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0011</key>
			<dict>
				<key>frame</key>
				<string>{{183,122},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0013</key>
			<dict>
				<key>frame</key>
				<string>{{61,183},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0014</key>
			<dict>
				<key>frame</key>
				<string>{{122,183},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0015</key>
			<dict>
				<key>frame</key>
				<string>{{183,183},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,244},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0017</key>
			<dict>
				<key>frame</key>
				<string>{{61,244},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0018</key>
			<dict>
				<key>frame</key>
				<string>{{122,244},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0019</key>
			<dict>
				<key>frame</key>
				<string>{{183,244},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,305},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0021</key>
			<dict>
				<key>frame</key>
				<string>{{61,305},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0022</key>
			<dict>
				<key>frame</key>
				<string>{{122,305},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0023</key>
			<dict>
				<key>frame</key>
				<string>{{183,305},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0025</key>
			<dict>
				<key>frame</key>
				<string>{{61,366},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0026</key>
			<dict>
				<key>frame</key>
				<string>{{122,366},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0027</key>
			<dict>
				<key>frame</key>
				<string>{{183,366},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>anim0029</key>
			<dict>
				<key>frame</key>
				<string>{{61,427},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>anim.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
		</dict>
	</dict>
</plist>
